<md-dialog aria-label="Query Pattern Attachments">


    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Attach Files to Query Pattern: <code>{{save_result.pattern_descr}}</code></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="images/icon/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" layout = "row">

        <md-card flex = "20">
          <md-card-content layout="column">
              <h3>Select file</h3>
              <div>
              </div>
              <br/>
              <div ng-show="attachmentUploader.isHTML5">
                  <div nv-file-drop="" uploader="attachmentUploader">
                    <div class="well my-drop-zone" nv-file-over="" uploader="attachmentUploader">
                      Files drop zone
                    </div>
                  </div>
              </div>
              <br/>
              <div class="col-md-3" flex>
                Multiple
                <input type="file" nv-file-select="" filters="jsonFilter" uploader="attachmentUploader" multiple /><br/>
              </div>
          </md-card-content>
        </md-card>
        <md-card flex = "70">
          <md-card-content layout = "row" >
            <div class="col-md-9" style="margin-bottom: 40px">
              <h3>Upload queue</h3>
              <p>Queue length: {{ attachmentUploader.queue.length }}</p>
              <table class="table">
                <thead>
                  <tr>
                    <th width="50%">Name</th>
                    <th ng-show="attachmentUploader.isHTML5">Size</th>
                    <th ng-show="attachmentUploader.isHTML5">Progress</th>
                    <th>Status</th>
                    <th>Description</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in attachmentUploader.queue">
                    <td><strong>{{ item.file.name }}</strong></td>
                    <td ng-show="attachmentUploader.isHTML5" nowrap>{{ item.file.size/1024|number:2 }} B</td>
                    <td ng-show="attachmentUploader.isHTML5">
                      <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                      </div>
                    </td>
                    <td class="text-center" nowrap>
                      <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                      <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td>
                      <input ng-model = "item.formData[0].descr"></input>
                    </td>
                    <td nowrap>
                      <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                          <span class="glyphicon glyphicon-upload"></span> Upload
                      </button>
                      <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                          <span class="glyphicon glyphicon-trash"></span> Remove
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div >
                <div>
                  Queue progress:
                  <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': attachmentUploader.progress + '%' }"></div>
                  </div>
                </div>
                <div layout = "row">
                  <button type="button" class="btn btn-success btn-s" ng-click="attachmentUploader.uploadAll()" ng-disabled="!attachmentUploader.getNotUploadedItems().length">
                      Upload all
                  </button>
                  <button type="button" class="btn btn-danger btn-s" ng-click="attachmentUploader.clearQueue()" ng-disabled="!attachmentUploader.queue.length">
                      Remove all
                  </button>

                  <span flex></span>
                  <md-button class="md-primary md-raised" ng-click="doSaveAttach()">Save</md-button>
                  <md-button ng-click="doCancelAttach()">Cancel</md-button>
                </div>

              </div>
            </div>
          </md-card-content>
        </md-card>

      </div>
    </md-dialog-content>
</md-dialog>
