<md-dialog aria-label="Connection Save Status">


    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Connection Detailss</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="images/icon/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
          <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Item Name</th>
                          <th>Value</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="(key,value) in save_result">
                          <td>{{key}}</td>
                          <td>{{value}}</td>
                        </tr>
                      </tbody>
                    </table>
      </div>
    </md-dialog-content>
</md-dialog>
