<md-dialog aria-label="Connection Save Status">


    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Update Connection Information for Connection ID: <code>{{save_result}}</code></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="images/icon/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" layout = "row">

        <md-card flex = "20">
          <md-card-content layout="column">
              <h3>Select file</h3> (Only JSON files are accepted)
              <div>
              </div>
              <br/>
              <div ng-show="uploader.isHTML5">
                  <div nv-file-drop="" uploader="uploader">
                    <div class="well my-drop-zone" nv-file-over="" uploader="uploader" filters="jsonFilter">
                      Files drop zone
                    </div>
                  </div>
              </div>
              <br/>
              <div class="col-md-3" flex>
                Single
                <input type="file" nv-file-select="" filters="jsonFilter" uploader="uploader" /><br/>
              </div>
          </md-card-content>
        </md-card>
        <md-card flex = "70">
          <md-card-content layout = "row" >
            <div class="col-md-9" style="margin-bottom: 40px">
              <h3>Upload queue</h3>
              <p>Queue length: {{ uploader.queue.length }}</p>
              <table class="table">
                <thead>
                  <tr>
                    <th width="50%">Name</th>
                    <th ng-show="uploader.isHTML5">Size</th>
                    <th ng-show="uploader.isHTML5">Progress</th>
                    <th>Status</th>
                    <th>Attributes</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in uploader.queue">
                    <td><strong>{{ item.file.name }}</strong></td>
                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024|number:2 }} B</td>
                    <td ng-show="uploader.isHTML5">
                      <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                      </div>
                    </td>
                    <td class="text-center" nowrap>
                      Check
                      <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                      <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                      | Format
                      <span ng-show="item.formData[0].format"><i class="glyphicon glyphicon-ok"></i></span>
                      <span ng-show="item.formData[1].format==false"><i class="glyphicon glyphicon-remove"></i></span>
                      | Conn
                      <span ng-show="item.formData[0].conn"><i class="glyphicon glyphicon-ok"></i></span>
                      <span ng-show="item.formData[0].conn==false"><i class="glyphicon glyphicon-info-sign" ng-click="showAlert(item.formData[0].msg)"></i></span>
                      | Mapped
                      <span ng-show="item.formData[0].conn_key == save_result"><i class="glyphicon glyphicon-ok" ></i></span>
                      <span ng-show="item.formData[0].conn_key !== save_result && item.formData[0].conn_key" ><i class="glyphicon glyphicon-remove"></i></span>

                    </td>
                    <td nowrap>
                      <label ng-show="item.formData[0].conn_key">Connection ID: </label> {{item.formData[0].conn_key}}
                    </td>
                  </tr>
                </tbody>
              </table>
              <div>
                <div>
                  Queue progress:
                  <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                  </div>
                </div>
                <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                  <span class="glyphicon glyphicon-play-circle"></span> Check
                </button>
                <button type="button" class="btn btn-danger btn-s" ng-click="clearAll()" ng-disabled="!uploader.queue.length">
                  <span class="glyphicon glyphicon-trash"></span> Remove
                </button>

                <button type="button" class="btn btn-primary btn-s" ng-click="doUpdateDataSet()" ng-disabled="!uploader.queue.length || !mapped">
                  <span class="glyphicon glyphicon-floppy-save"></span> Save
                </button>

              </div>
            </div>
          </md-card-content>
        </md-card>

      </div>
    </md-dialog-content>
</md-dialog>
